<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome Chat</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div id="chat-app">
    <h1>Awesome Chat</h1>
    <div id="info-container">
    <h4 id="user-info"></h4>
    <h4 id="room-info"></h4>
</div>

    <div id="chat-container"></div>
    <div id="input-container">
      <input type="text" id="message-input" placeholder="Enter your message..." />
      <button id="send-button">Send</button>
    </div>
  </div>
  <script src="../static/js/main.js"></script>
</body>
</html>
